@media screen and (max-width:479px) {
    .header {
        width: 200px;
        height: 200px;
    }
    
    .headerbox {
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        position: relative;
        margin: 0;
        right: 70px;
        width: 60px;
        height: 160px;
    }

    .box1 {
        margin: 0;
        margin-top: 10px;
    }

    .box3 {
        margin: 0;
        margin-bottom: 10px;
    }

    .main {
        flex-direction: column;
        height: 310px;
    }

    .left {
        width: 200px;
        height: 100px;
    }

    .right {
        width: 200px;
        height: 210px;
    }

    .rightbox {
        margin: 0;
        position: relative;
        top: 20px;
        left: 30px;
    }

    .footer {
        width: 200px;
    }
}