.header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 160px;
    height: 60px;
    margin-right: 20px;
    background-color: white;
}

.box1 {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 10px;
    background-color: #a9004b;
}

.box2 {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #a9004b;
}

.box3 {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: #a9004b;
}

.main {
    display: flex;
    width: 400px;
    height: 250px;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

.rightbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 170px;
    box-sizing: border-box;
    margin: 40px 60px 40px 40px;
    background-color: yellow;
}

.box4 {
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 5px;
    border: solid 5px white;
    background-color: #ff863f;
}

.box5 {
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    background-color: #ff863f;
}

.box6 {
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-color: #ff863f;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}