@media screen and (max-width:479PX) {
    .header {
        max-width: 200px;
    }
    
    .main {
        max-width: 200px;
    }
    
    .left {
        max-width: 200px;
    }

    .right {
        max-width: 200px;
    }

    .footer {
        max-width: 200px;
    }
}